* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.search {
	width: 80%;
	margin: 0, auto;
}

.alignChildren {
    font-size: 0;
}

.alignChildren > * {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
}


#container{
	height: 80vh;
}

.hed {
	margin: 1%;
}


.bod *{
	border: 1px solid slategrey;
}

.itemContainer{
	width: 80%;
	height: 100%;
	padding: 10%;
}

.item {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin: 1%;
}


img {
	width: 100%;
}

.multiImg {
	width: 100%;
	overflow:hidden;
}
.multiImg.onhover {
	width: 80%;
}