* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.alignChildren {
    font-size: 0;
}

.alignChildren > * {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
}

.bod *{
	/* font-size: 20px; */
	border: 1px solid slategrey;
}