* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.alignChildren {
    font-size: 0;
}

.alignChildren > * {
    display: inline-block;
    font-size: medium;
    vertical-align: top;
}

#container {
    height: 90vh;
}

#searchBar {
    width: 50%;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 0px .2px;
    background: transparent;
    outline: none;
    border: 1px solid #39474E;
    font-family: 'Open Sans Condensed', sans-serif;
}

#searchBar:hover {
    box-shadow: 1px 1px 5px #888888;
    transition: all ease 1s;
}

#searchBar:focus {
    background-color: rgba(44, 50, 56, 0.5);
    transition: all ease 1s;
}

.navBar{
    position: absolute;
    width: 80%;
    top: 30px;
    left:10%;

}

li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 2%;
}

li {
    box-shadow: 1px 1px 5px rgba(44, 50, 56, 0.5);
    padding: 5px;
}

li:hover {
    background-color: rgba(44, 50, 56, 1.0);
    transition: 1s all ease;
}

.fa-home {
    display: inline-block;
    font-size: 2em;
    outline: none;
    background-clip:padding-box;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 0px 1px;
    color: transparent;
    background: transparent;
}



.fa-home:hover{
    display: inline-block;
    font-size: 2em;
    outline: none;
    background-clip:padding-box;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 0px 1px;
    color: whit;
    background: transparent;
}

.hed {
    margin: 1%;
    height: 100px;
}

.bod * {
    border: 1px solid slategrey;
    /* background: -webkit-linear-gradient(top, #39474E 100%,#708090 100%); */
}


.bod{
    position: relative;
}



.mainBod {
    background: -webkit-linear-gradient(right, #39474E 10%, #708090 100%);
    color: whitesmoke;
}

.itemCollections {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 1%;
    padding: 1%;
    color: whitesmoke;
}

.itemCollections:hover {
    /* background:-webkit-radial-gradient(rgba(44, 50, 56, 0.5)); */
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, #39474E 0%, rgba(44, 50, 56, 0.5) 50%, #39474E 95%);
    transition: all ease .5s;
    box-shadow: 1px 1px 5px #39474E;
}

.item {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.item * {
    display: inline-block;
    vertical-align: top;
    padding: 2%;
}

.itemBox {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
}

.mainPic {
    display: block;
    width: 50%;
    margin: -31px auto;
    padding-top: 5%;
}

.sidePicCont {
    display: block;
    margin: 0 auto;
    width: 50%;
    /* display: inline-flex; */
}

.sidePic {
    width: 25%;
    display: inline-block;
    margin: 2%;
    box-shadow: 5px 5px 5px #39474E;
    /* flex-direction: row; */
}

.data {
    width: 30%;
    display: inline-block;
}

.otherStuff {
    height: 200px;
}

.desc {
    width: 700px;
    height: 200px;
    display: block;
    margin: ;
    padding:2%;
    overflow: scroll;
    background-color: rgba(44, 50, 56, 0.5);
    box-shadow: 5px 5px 5px 5px #39474E;
}

.desc::-webkit-scrollbar {
    width: 0
}

.multiImg {
    width: 100%;
    overflow: hidden;
}

.multiImg.onhover {
    width: 80%;
}



.itemPicked {
    width:60%;
}


.itemList {
    width:200px;
}
